@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;
}

body {
  font-family: var(--font-sans);
  background-color: #FAF8F5;
  color: #0c1424;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

